<!doctype html>
<html>
  <head>
    <title>Daftar Laporan</title>
  </head>
  <body>
    <h1>Semua Laporan Masalah Kota</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Judul Laporan</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for item in laporan %}
        <tr>
          <td>{{ item.title }}</td>
          <td>{{ item.category }}</td>
          <td>
            <a
              href="{% url 'update_report' item.id %}"
              class="btn btn-warning btn-sm"
              >Edit</a
            >
            <a
              href="{% url 'delete_report' item.id %}"
              class="btn btn-danger btn-sm"
              >Hapus</a
            >
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="2">Belum ada laporan masuk.</td>
        </tr>
      </tbody>
    </table>
    <br />
    <a href="{% url 'add_report' %}">Tambah Laporan Lagi</a>
  </body>
</html>
